.background{
    background-color: darkblue;
    color: white;
}
.center{
    text-align: center;
}   
.b1{
    margin-left: 47%;
    margin-right: 50%;
    height: 60px;
    font-size: large;
    margin-top: 20px;
    font-weight: bold;
}
.b1 a:active{
    color: black;
}
.b1 a{
    color: black;
    font-weight: bolder;
}
.pictures{
    padding-left: 25%;
}
.text{
    font-size: 25px;
}

.b2{
    margin-left: 50%;
    margin-right: 50%;
    height: 50px;
    font-size: large;
    font-weight: bold;
    margin-top: 20px;
}
.b2 a:active{
    color: black;
}
.b2 a{
    color: black;
    font-weight: bolder;
}
#combination{
    margin-left: 33%;
    margin-bottom: 20px;
}
#brisi{
    height: 130px;
    width: 150px;
}
.settingsUputstvo{
    font-size: 30px;
    text-align: center;
}
.bIgra{
    height: 40px;
    width: 40px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;

}
.game img{
    height: 60px;
    width: 65px;
}
.red{
    display:flex;
    flex-direction: row;
}
.red0{
    display: inline-flex;
}
#red7{
    margin-top: 30px;
    margin-bottom: 30px;
}
#symbols{
    margin-left: 45px;
}
#naslovTeskt{
    font-size: 40px;
    font-weight: bold;
}

.cont{
    display: flex;
}
.desno{
    font-size: 50px;
    margin-left: 50px;
    height: 150px;
    width: 300px;
    color: black;
    background-color: red;
    text-align: center;
}
#tajmer{
    width: 300px;
    height: 150px;
}
.dugmiciDesno{
    margin-top: 50px;
    margin-left: 130px;
}
.dugmiciDesno button{
    height: 50px;
    font-size: 30px;

    color: black;
}
.dugmiciDesno a{
    color: black;
    text-decoration: none;
}

#donjeDugme{
    margin-top: 20px;
    margin-left: 30px;
}